.git
.github
.vercel
.env
.env.*
node_modules
vendor
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/lsp-*
public/build
absensi-app
tests
phpunit.xml
.phpunit.cache
